/* button */

.button {
	outline: none;
	border: none;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	width: 200px;
	padding: 11px 0;
	cursor: pointer;
	color: #ffffff;
	border-radius: 3px;
	background: radial-gradient(
		ellipse at left bottom,
		rgba(22, 24, 47, 1) 0%,
		rgba(38, 20, 72, 0.9) 59%,
		rgba(17, 27, 75, 0.9) 100%
	);
	box-shadow: inset 0 5px 10px 3px rgba(17, 27, 75, 0.9),
		0 5px 10px 3px rgba(17, 27, 75, 0.9);
	transition: 0.5s all;
}

.button:hover {
	box-shadow: inset 0 0px 10px 3px rgba(17, 27, 75, 0.9),
		0 0px 10px 3px rgba(17, 27, 75, 0.9);
}
